
<%= form_for @post do |f| %>

    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |error| %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% end %>
    <% end %>

    <div class="mb-3">
        <%= f.label "Date", class:"fw-bold" %>
        <%= f.date_field :date,  class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label "Rationale", class:"fw-bold" %>
        <%= f.text_area :rationale,  class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= f.radio_button :status, "submitted" %>
        <%= f.label :status, "Submitted", class:"fw-bold" %>
        
        <%= f.radio_button :status, "approved" %>
        <%= f.label :status, "approved", class:"fw-bold" %>
        
        <%= f.radio_button :status, "rejected" %>
        <%= f.label :status, "Rejected", class:"fw-bold" %>
    </div>
        <%= f.submit "Save",  class:"btn btn-sm btn-primary" %>
<% end %>