<%= form_for @post do |f| %>
    <div class="mb-3">
        <%= f.label "Date", class:"fw-bold" %>
        <%= f.date_field :date,  class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label "Rationale", class:"fw-bold" %>
        <%= f.text_area :rationale,  class:"form-control" %>
    </div>
        <%= f.submit "Save",  class:"btn btn-sm btn-primary" %>
<% end %>