    <div class="mb-3">
        <%= f.radio_button :status, "submitted" %>
        <%= f.label :status, "Submitted", class:"fw-bold" %>
        
        <%= f.radio_button :status, "approved" %>
        <%= f.label :status, "Approved", class:"fw-bold" %>
        
        <%= f.radio_button :status, "rejected" %>
        <%= f.label :status, "Rejected", class:"fw-bold" %>
    </div>